body {
    --cell-size: 8vmin;
}

div {
    width: clamp(340px, 80vmin, 500px);
    display: flex;
    margin: 0 auto;
}

caption {
    font-weight: bold;
    font-size: xx-large;
}

td {
    border: 3px solid black;
}

#buffer td {
    border-color: white;
}

#board .selecionado,
#buffer .selecionado {
    border: 3px solid blue;
}

td, img {
    width: clamp(30px, var(--cell-size), 50px);
    height: clamp(30px, var(--cell-size), 50px);
}

#message {
    width: 50%;
    text-align: center;
    margin: 1em auto;
}

img {
    vertical-align: middle;
}